@model OnlineShop.Models.User.RegisterModel

<form asp-controller="Users" asp-action="Register" class="card">
    <div class="card-body">
        <div class="mb-4">
            <label class="form-label" for="username">Username</label>
            <input asp-for="Username" class="form-control" id="username" placeholder="Your username">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-4">
            <label class="form-label" for="password">Password</label>
            <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password"
                autocomplete="current-password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-4">
            <label class="form-label" for="confirm-password">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirm-password" placeholder="ConfirmPassword"
                autocomplete="current-password">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary w-full">
                Register
            </button>
        </div>
    </div>
</form>
